<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title|default="页面标题"}</title>
    {load href="http://phpwebtest.com:8888/myblog1/public/static/css/bootstrap.css" /}
    {load href="http://phpwebtest.com:8888/myblog1/public/static/js/jquery-1.11.3.min.js" /}
    {load href="http://phpwebtest.com:8888/myblog1/public/static/js/bootstrap.js" /}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {include file="public::nav"}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {include file="public::left"}
        </div>
        <div class="col-md-10">
            {__CONTENT__}
        </div>
    </div>
</div>
</body>
</html>